@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
body {
  font-family: 'Roboto';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

h4 {
  font-size: 25px;
  font-weight: 500;
  font-stretch: normal;
}

.logo {
  width: 100%;
  margin: auto;
  text-align: center;
  border-bottom: 1px solid #b3b3b3;
}

.personal_info .order_summary {
  height: 100vh;
}

.ship_payment {
  height: auto;
  min-height: 100vh;
}

.grid {
  width: 100%;
  margin: 2em auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.grid div {
  padding: 0 .5em;
}

input[type=radio] {
  height: 23px;
  width: 23px;
}

input[type=checkbox] {
  width: 16px;
  height: 16px;
  margin-right: 1em;
}

input[type=text] {
  padding: 10px;
  padding-right: 60px;
  border: none;
}

.form_checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form_checkbox span {
  margin-top: 0.3em;
  font-weight: bold;
  color: #717171;
  font-size: 17.6px;
  padding-left: 0.4em;
}

/* CSS to first section of the page*/
.personal_info {
  color: #212121;
}

.personal_info p:nth-child(2) {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0.2em;
}

.personal_info p:nth-child(4) {
  color: #717171;
  font-size: 17.6px;
  padding-left: 2.4em;
  margin: 0;
  font-stretch: normal;
  width: 75%;
}

.personal_info p:nth-child(5) {
  margin-top: 4em;
  font-size: 18px;
  color: #969696;
  font-weight: normal;
}

.personal_info span:nth-child(7) {
  font-weight: bold;
  font-size: 13.8px;
  color: #717171;
}

.personal_info hr {
  margin: 2em 0;
}

.personal_info button {
  background-color: #c6c6c6;
  color: white;
  height: 50px;
  width: 160px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

/* CSS to second section of the page*/
.ship_payment {
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
}

.ship_payment .ship {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ship_payment .ship p {
  color: #717171;
  font-size: 13px;
  margin-left: 1.4em;
  margin-top: 0;
}

.ship_payment .form_checkbox input {
  margin-left: -22px;
}

.ship_payment .form_checkbox span {
  font-size: 16px;
  color: #717171;
}

.ship_payment span {
  color: #29b6f6;
  font-weight: bold;
  margin-top: 0.2em;
}

.ship_payment .store span {
  color: #c6c6c6;
  font-size: 16px;
}

.ship_payment button {
  width: 49px;
  height: 20px;
  background-color: #45b347;
  color: white;
  border: none;
  border-radius: 3px;
}

.ship_payment .pay span:nth-child(1) {
  color: #c6c6c6;
  font-size: 18px;
  margin-left: -5px;
}

.ship_payment .pay span:nth-child(2) {
  color: #29b6f6;
  font-size: 18px;
  padding-bottom: .3em;
  border-bottom: 1px solid #29b6f6;
}

.ship_payment .payment_form {
  margin-top: 2em;
  margin-left: -15px;
}

.ship_payment .payment_form label {
  font-size: 18px;
}

.ship_payment .payment_form input {
  margin-top: 0.2em;
  margin-bottom: 1.5em;
  border-radius: 5px;
  border: 1px solid #c6c6c6;
  height: 44px;
  font-size: 16px;
  color: #b3b3b3;
  padding: 0em 0.4em;
}

.ship_payment .payment_form select {
  padding: 0.5em;
  margin-left: -8px;
  width: 170px;
  height: 40px;
  font-size: 16px;
  color: #b3b3b3;
  border: 1px solid #c6c6c6;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("../imgs/select02.svg") white no-repeat 97% !important;
}

.ship_payment .payment_form ul li {
  list-style: none;
  margin-left: -20px;
  border-top: 1px solid #d2d2d2;
  height: 60px;
}

.ship_payment .payment_form ul li span {
  padding: 12px;
}

.ship_payment .payment_form ul li:last-child {
  border-bottom: 1px solid #d2d2d2;
}

.ship_payment .form_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ship_payment .submit {
  display: inline-block;
  position: relative;
}

.ship_payment .submit input[type=text] {
  width: 400px !important;
}

.ship_payment .submit .btn {
  padding: 2px;
  position: absolute;
  width: 100px;
  right: 8px;
  top: 21px;
  height: 46px !important;
  background-color: black;
  color: white !important;
  border: none !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.ship_payment .due_date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2em;
}

.ship_payment .due_date label {
  margin-left: -6px;
}

.ship_payment .due_date .year_input {
  margin-right: -5px;
}

/* CSS to third section of the page*/
.order_summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.order_summary .message {
  position: relative;
  display: inline;
}

.order_summary .message input[type=text] {
  width: 99%;
  border: 1px solid #e1e1e1;
  height: 50px;
  border-radius: 5px;
  padding: 5px;
}

.order_summary .message input[type=button] {
  position: absolute;
  background-color: black;
  width: 67px;
  height: 25px;
  top: 32px;
  right: 3px;
  font-stretch: 15px;
  border-radius: 30px;
  color: white;
  border: none;
}

.order_summary button {
  text-align: center;
  background-color: #00ab54;
  height: 49px;
  margin: 0 5%;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5px;
}

.order_summary .products {
  margin: 2em 0;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  max-height: 250px;
  overflow: scroll;
}

.order_summary ul {
  list-style: none;
  padding: 0.5em 0.5em;
}

.order_summary ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 75px;
  height: auto;
  border-bottom: 1px solid #e1e1e1;
}

.order_summary ul li img:last-child {
  width: 64px;
  height: 64px;
}

.order_summary ul li .description {
  font-size: 13px;
  letter-spacing: normal;
  text-align: left;
}

.order_summary ul li .description .specs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 25px;
  margin-left: -5px;
}

.order_summary ul li .description .specs span {
  font-size: 15px;
  letter-spacing: -0.72px;
  font-weight: medium;
  line-height: 13px;
}

.order_summary ul li .description .specs span:not(:last-child) {
  font-size: 12px;
  color: #969696;
}

.order_summary .total {
  margin-top: 1em;
  background-color: #f7f7f7;
  border-radius: 5px;
  text-align: center;
}

.order_summary .total p {
  font-size: 14px;
  color: #717171;
  padding: 1em;
}

.order_summary .total .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
  border-top: 1px solid #cacaca;
}

.order_summary .total .item span {
  padding: 1.2em 0;
  font-size: 18px;
  color: #717171;
}

.order_summary .total div:nth-child(5) {
  padding-bottom: 2em;
  border-bottom: 1px solid #cacaca;
  margin-bottom: 2em;
}

.order_summary .total div:nth-child(5) span {
  font-size: 25px;
  font-weight: bold;
  color: #212121;
}

.order_summary .total div:nth-child(5) .obs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}

.order_summary .total div:nth-child(5) .obs p {
  padding: 0;
  margin-right: -35px;
  margin-top: -30px;
}

.order_summary .total button {
  text-align: center;
  background-color: #00ab54;
  height: 49px;
  width: 95%;
  margin: 0;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5px;
}

@media (max-width: 600px) {
  .grid {
    display: block;
  }
  .due_date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
  }
  .submit input[type=text] {
    width: 300px !important;
  }
  .submit .btn {
    right: 17px;
  }
}
/*# sourceMappingURL=style.css.map */