@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{
    font-family: 'Roboto';
}

div{
    height: 100vh;
}

.personal_info{
    text-align: left;
    background-color: blue;
}

.pedido{
    background-color: red;
}

.compra{
    background-color: orange;
}

.grid{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid div{
    padding: 0 .5em;
}

.grid div:nth-child(2){
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
}
@media(max-width: 600px){
    .grid{
        display: block;
    }
}

.ship{
    display: flex;
    justify-content: space-between;
}

.ship input{
    float: left;
}

.ship span{
    float: right;
    margin-right: 0;
}
